* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

body {
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: center;
}

body form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;

}

.menu {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(110, 76, 110);
    position: fixed;
    top: 0;
}

.menu a {
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

a:hover {
    font-weight: bold;
}

.conteudo {
    margin-top: 8vh;
}

button {
    width: 100%;
}