<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('cadastro_usuario') }}">Cadastre-se</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('cadastrar_produtos') }}">Cadastrar Produtos</a>
        <a href="{{ url_for('exibir_produtos') }}">Lista de Produtos</a>
    </div>
    <div class="conteudo">
    
        {% block conteudo %}
            
            
        {% endblock %}
    </div>
    <div class="rodape">
    </div>
</body>
</html>