{% extends 'base.html'%}
{% block titulo %} Exibir Produtos {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='produtos.css') }}">
{% endblock %}

{% block conteudo %}
    <h1>Produtos cadastrados</h1>

    {% if produtos %}
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th></th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.preco }}</td>
            <td>{{ produto.descricao }}</td>
            <td>
                <a>
                    <form action="{{ url_for('remover_produto') }}" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ produto.id }}">
                    <button type="submit">Remover</button>
                    </form>
                </a>
                <a href="{{ url_for('editar_produto', id=produto.id) }}"><button type="button">Editar</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Nenhum produto cadastrado.</p>
    {% endif %}
{% endblock %}
